.wp-post-image{ float: left; margin: 0 15px 10px 0; }
.redes-sociais{ background: green; height: 30px; }
.pesquisa{ background: yellow; height: 30px; }
.menu-principal ul li, .menu-rodape ul li{ display: inline; }
.vermelho{ color:red; font-weight: bold; }
.verde{ background: green; color: #FFF; font-weight: bold; }